@font-face {
  font-family: Barlow;
  src:
    local("Barlow"), url("./assets/fonts/Barlow-SemiBold.ttf"),
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Fraunces;
  src:
    local("Fraunces"), url("./assets/fonts/Fraunces-VariableFont.ttf"),
    format("truetype");
  font-weight: 700 900;
  font-display: swap;
}

:root {
  /* COLORS */
  /* PRIMARY */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-des-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photo text */
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --moderate-cyan: hsl(168, 44%, 70%); /* footer */

  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(210, 4%, 67%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --very-dark-des-blue: hsl(212, 27%, 19%);

  /* FONT FAMILY */

  --ff-barlow: "Barlow", system-ui, sans-serif;
  --ff-fraunces: "Fraunces", Georgia, "Times New Roman", serif;

  /* FONT SIZES */

  --fs-h1: clamp(2.5rem, 2.148rem + 1.502vw, 3.5rem); /* 40-56 */

  --fs-h2: clamp(1rem, 0.912rem + 0.376vw, 1.25rem); /* 16-20 */

  --fs-h3: clamp(2rem, 1.824rem + 0.751vw, 2.5rem); /* 32-40 */

  --fs-nav-header: clamp(1.25rem, 1.294rem + -0.188vw, 1.125rem); /* 20-18 */

  --fs-sm: 0.875rem; /* 14 */

  --fs-xm: 0.9375rem; /* 15 */

  --fs-lg: 1.125rem; /* 18 */

  --fs-xl: 1.75rem; /* 28 */

  /* LETTER SPACING */

  --ls-h1: 0.15625em; /* 6.25-8.75 */

  --ls-h2: 0.25em; /* 4-5 */

  --ls-h3: -0.00725em; /* -0.23-0.29 */

  --ls-base: -0.006875em; /* -0.11 */

  --ls-wide: -0.00715em; /* -0.2 */

  --ls-widest: 0.0675em; /* 1 */

  /* FONT WEIGHT */

  --fw-fraunces-700: 700;

  --fw-fraunces-900: 900;

  /* PADDING SPACING */
  /* TRANSFORM-STAND OUT */

  --p-block: clamp(4rem, 1.931rem + 8.826vw, 9.875rem); /* 64-158 */
  --p-left: clamp(1.5rem, -0.393rem + 8.075vw, 6.875rem); /* 24-110 */
  --p-right: clamp(1.5rem, -1.625rem + 13.333vw, 10.375rem); /* 24-166 */

  /* TESTIMONIAL */

  --p-top: clamp(4rem, 1.887rem + 9.014vw, 10rem); /* 64-160 */
  --p-bottom: clamp(5.375rem, 3.746rem + 6.948vw, 10rem); /* 86-160 */

  /* FOOTER */

  --pf-top: clamp(4rem, 3.824rem + 0.751vw, 4.5rem); /* 64-72 */
  --pf-bottom: clamp(5rem, 5.176rem + -0.751vw, 4.5rem); /* 80-72 */
  --pf-inline: clamp(2.5rem, -9.164rem + 49.765vw, 35.625rem); /* 40-570 */
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* General styles */

html {
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.keyboard-only {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  translate: 0 -100%;
  transition: translate 150ms ease-in-out;
  background-color: var(--very-dark-grayish-blue);
  padding: 2rem;
}

.keyboard-only:focus {
  translate: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: "";
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
  height: auto;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

/* Typography */

body {
  background-color: var(--white);
  font-family: var(--ff-fraunces);
  letter-spacing: var(--ls-base);
  line-height: 1.7;
  text-align: center;
}

nav {
  font-family: var(--ff-barlow);
  line-height: 1.25;
}

.header__nav {
  font-size: var(--fs-nav-header);
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-h1);
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: var(--fs-h2);
  letter-spacing: var(--ls-h2);
}

h3 {
  font-size: var(--fs-h3);
  letter-spacing: var(--ls-h3);
}

p {
  font-family: var(--ff-barlow);
}

.footer__nav {
  line-height: 1.39;
}

.text-sm {
  font-size: var(--fs-sm);
}

.text-xm {
  font-size: var(--fs-xm);
}

.text-lg {
  font-size: var(--fs-lg);
}

.text-xl {
  font-size: var(--fs-xl);
}
.tracking-wide {
  letter-spacing: var(--ls-wide);
}

.tracking-widest {
  letter-spacing: var(--ls-widest);
}

/* Header */

header {
  color: var(--white);
  background-image: url("./assets/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: clamp(33.625rem, 27.859rem + 24.601vw, 50rem);
  padding: 2rem;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: none;
}
.header__nav::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-bottom: 16px solid var(--white);
}
.header__nav.active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  inset: 0;
  top: 10%;
  width: calc(100% - 4rem);
  margin-inline: auto;
  max-height: fit-content;
  padding-block: 2rem;
  background-color: var(--white);
  color: var(--dark-grayish-blue);
}

.header__nav > a {
  padding: 1rem 2rem;
  width: fit-content;
  margin-inline: auto;
  border-radius: 999px;
}
.header__nav > a:last-child {
  background-color: var(--yellow);
  color: var(--very-dark-des-blue);
}

h1 {
  margin-block: 6rem;
}

header > svg {
  margin-inline: auto;
}

.arrow {
  animation: arrowAnim 2s infinite;
  transform-origin: center;
}

@keyframes arrowAnim {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

/* Main */

main {
  max-width: 90rem;
  margin-inline: auto;
}

.services__brand > div,
.services__audience > div {
  padding: 4rem 1.5rem;
  max-width: 445px;
  margin-inline: auto;
}
.services__brand p,
.services__audience p {
  margin-top: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
  margin-bottom: clamp(2rem, 1.824rem + 0.751vw, 2.5rem);
}

article a {
  position: relative;
}

article a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 1rem);
  height: 10px;
  background-color: var(--soft-red);
  z-index: -1;
  border-radius: 28px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.services__brand a::after {
  background-color: var(--yellow);
}

.services__design,
.services__photography {
  display: grid;
  grid-template-areas: "stack";
}
.services__design > picture,
.services__photography > picture {
  grid-area: stack;
}
.services__design > div,
.services__photography > div {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75rem;
  max-width: 21.25rem;
  margin-inline: auto;
  height: 100%;
  padding-top: calc(100% - 3.25rem);
}

.testimonials {
  padding-top: clamp(4rem, 1.887rem + 9.014vw, 10rem);
  padding-bottom: clamp(5.375rem, 3.746rem + 6.948vw, 10rem);
  padding-inline: 1.5rem;
}
.testimonials > h2 {
  margin-bottom: 4rem;
}
.testimonials__wrapper > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.testimonials__wrapper > article:not(:last-child) {
  margin-bottom: 4rem;
}
.testimonials__wrapper img {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}

/* Footer */

footer {
  background-color: var(--moderate-cyan);
}

.footer__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.footer__nav {
  display: flex;
  gap: 3.625rem;
  margin-top: 40px;
  margin-bottom: 88px;
}

footer ul {
  display: flex;
  gap: 1.75rem;
}

@media (min-width: 45rem) {
  /* Header */

  header {
    background-image: url("./assets/images/desktop/image-header.jpg");
  }

  .nav__wrapper > button {
    display: none;
  }

  .header__nav {
    display: flex;
    gap: clamp(0rem, -3rem + 6.667vw, 3rem);
  }

  .header__nav > a {
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  .header__nav > a:last-child {
    background-color: var(--white);
  }

  .header__nav > a:hover,
  .header__nav > a:focus-visible {
    background-color: hsl(200, 100%, 72%);
    color: var(--white);
  }

  /* Main */

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .services__brand,
  .services__audience {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    text-align: left;
  }
  .services__audience img {
    grid-column: 2;
    grid-row: 1;
  }
  .services__audience div {
    grid-column: 1;
    grid-row: 1;
  }

  .services__brand > div,
  .services__audience > div {
    padding-inline: 1.5rem;
    padding-block: 0;
  }
  .services__brand p,
  .services__audience p {
    margin-top: clamp(0rem, -2rem + 4.444vw, 2rem);
    margin-bottom: clamp(0rem, -2.5rem + 5.556vw, 2.5rem);
  }

  article a:hover::after,
  article a:focus-visible::after {
    opacity: 1;
  }

  .services__design > div,
  .services__photography > div {
    align-self: end;
    padding-top: 0;
    height: auto;
    padding-bottom: clamp(0rem, -3.25rem + 7.222vw, 3.25rem);
  }

  .testimonials__wrapper {
    display: flex;
  }
  .testimonials__wrapper blockquote {
    margin-top: 1.5rem;
    margin-bottom: 2.375rem;
  }

  /* Footer */

  .footer__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .footer_logo path {
    fill: var(--dark-moderate-cyan);
  }
  footer a,
  footer path {
    transition:
      color 0.3s ease-in-out,
      fill 0.3s ease-in-out;
  }
  footer a:hover,
  footer svg:hover path,
  footer a:focus-visible,
  footer a:focus-visible path {
    color: var(--white);
    fill: white;
  }
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }
  html {
    scroll-behavior: auto;
  }
}
